<form class="container" ng-submit="controller.login()">
    <div class="modal-header">
        Log In here
    </div>
    <!--<div class="row">
        <ul>
            <li ng-repeat="n in controller.names" ng-click="controller.close()">
            </li>
        </ul>
    </div>-->
    <div class="row">
        <input ng-modal="username" class="form-control" placeholder="Username" />
    </div>
    <div class="row">
        <input ng-modal="password" class="form-control" type="password" placeholder="Password" />
    </div>
    <div class="row">
        <input type="submit" value="Log In" />
    </div>
</form>
